<nav class="navbar navbar-expand-md bg-dark navbar-dark p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa d-inline fa-lg fa-database"></i></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
      <%= link_to "Logout", destroy_user_session_path(@user), method: :delete, class: 'btn navbar-btn ml-2 btn-danger text-light' %>
    </div>
  </div>
</nav>
<% flash.each do |name, msg| -%>
  <% if name == "error" %>
    <%= content_tag :div, msg, class: 'alert alert-danger alert-dismissible fade show w-25 ml-auto margin-top p-2' %>
  <% end %>
<% end -%>
<div class="p-3">
  <div class="p-2 container-fluid">
    <div class="row">
      <div class="col-md-4 p-3 card">
        <%= form_tag({action: :upload}, multipart: true) do %>
          <div class="form-group"> 
            <label for="inputFile">Select a file</label>
            <%= file_field_tag 'file', class: "form-control-file" %>
            <%= submit_tag 'Submit', class: 'btn btn-dark w-25 my-1'  %>
          </div>
        <% end %>
        <% if @total > 0 %>
          <div class=" alert-success p-2 text-center">
            <p><b>Total gross revenue:</b> R$ <%= @total %></p>
          </div>
        <% end %>
      </div>
      <div class="col-md-1"></div>
      
      <% unless @purchases.empty? %>
        <div class="col-md-7 card">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Purchaser name</th>
                <th>Item description</th>
                <th>Item price</th>
                <th>Purchase count</th>
                <th>Merchant name</th>
                <th>Merchant address</th>
              </tr>
            </thead>
            <tbody>
              <% @purchases.each do |p| %>
                <tr>
                  <td><%= p.purchaser.name %></td>
                  <td><%= p.item.description %></td>
                  <td><%= p.item.price %></td>
                  <td><%= p.count_sale %></td>
                  <td><%= p.merchant.name %></td>
                  <td><%= p.merchant.adress %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>